<ng-container>
  <div class="row-md">
    <div class="col-6 offset-4">
      <button type="button" class="btn btn-secondary" jhiTranslate="actual-weather.before-yesterday">Day before yesterday</button>
      <button type="button" class="btn btn-secondary" jhiTranslate="actual-weather.yesterday">Yesterday</button>
      <button type="button" class="btn btn-secondary" jhiTranslate="actual-weather.today">Today</button>
      <button type="button" class="btn btn-secondary" jhiTranslate="actual-weather.tomorrow">Tomorrow</button>
      <button type="button" class="btn btn-secondary" jhiTranslate="actual-weather.after-tomorrow">The day after tomorrow</button>
    </div>
  </div>
</ng-container>
