<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="current">
      <h2 data-cy="currentDetailsHeading"><span jhiTranslate="weatherApp.current.detail.title">Current</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ current.id }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.lastUpdateLong">Last Update Long</span></dt>
        <dd>
          <span>{{ current.lastUpdateLong }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.lastUpdateTime">Last Update Time</span></dt>
        <dd>
          <span>{{ current.lastUpdateTime }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.tempC">Temp C</span></dt>
        <dd>
          <span>{{ current.tempC }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.tempF">Temp F</span></dt>
        <dd>
          <span>{{ current.tempF }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.isDay">Is Day</span></dt>
        <dd>
          <span>{{ current.isDay }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.windMph">Wind Mph</span></dt>
        <dd>
          <span>{{ current.windMph }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.windKph">Wind Kph</span></dt>
        <dd>
          <span>{{ current.windKph }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.windDegree">Wind Degree</span></dt>
        <dd>
          <span>{{ current.windDegree }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.windDirection">Wind Direction</span></dt>
        <dd>
          <span>{{ current.windDirection }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.pressureMb">Pressure Mb</span></dt>
        <dd>
          <span>{{ current.pressureMb }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.pressureIn">Pressure In</span></dt>
        <dd>
          <span>{{ current.pressureIn }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.precipMm">Precip Mm</span></dt>
        <dd>
          <span>{{ current.precipMm }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.precipIn">Precip In</span></dt>
        <dd>
          <span>{{ current.precipIn }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.humidity">Humidity</span></dt>
        <dd>
          <span>{{ current.humidity }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.cloud">Cloud</span></dt>
        <dd>
          <span>{{ current.cloud }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.feelslikeC">Feelslike C</span></dt>
        <dd>
          <span>{{ current.feelslikeC }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.feelslikeF">Feelslike F</span></dt>
        <dd>
          <span>{{ current.feelslikeF }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.uv">Uv</span></dt>
        <dd>
          <span>{{ current.uv }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.gustMph">Gust Mph</span></dt>
        <dd>
          <span>{{ current.gustMph }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.gustKph">Gust Kph</span></dt>
        <dd>
          <span>{{ current.gustKph }}</span>
        </dd>
        <dt><span jhiTranslate="weatherApp.current.location">Location</span></dt>
        <dd>
          <div *ngIf="current.location">
            <a [routerLink]="['/location', current.location.id, 'view']">{{ current.location.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/current', current.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
